.contact {
	display: grid;
	grid-template-columns: 4fr 3fr;
	grid-gap: 3rem;
	width: 100%;
	margin: 2rem 0;
}
.contact_form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.contact_form .row {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.contact_info {
	padding: 2rem;
	border: 1px solid #f9f9f9;
  height: 250px;
}

.info_box {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
}

.info_box a {
	color: var(--primary-color);
}

.info_box a:hover {
	color: var(--btn-primary-hover);
}

.contact_social {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 60px;
	list-style: none;
}

.contact_social svg {
	width: 30px;
	height: 30px;
	color: var(--primary-color);
}

.contact_social li a {
	padding: 0.6rem;
}

.contact_social svg:hover,
.contact_social svg:focus {
	color: var(--btn-primary-hover);
}

@media (max-width: 768px) {
	.contact {
		grid-template-columns: 1fr;
	}
}
