.work_text {
	margin: 1rem 0;
}

.work_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	margin-top: 2rem;
}

.work_item {
	position: relative;
	border-radius: 5px;
}

.work_frame {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 2rem;
	box-shadow: 0 10px 30px -15px var(--box-shadow);
	transition: var(--transition);
}

.image img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius: 5px;
	mix-blend-mode: multiply;
	filter: grayscale(40%) contrast(1) brightness(90%);
}

.work_frame .image img:hover {
	filter: grayscale(0%) contrast(1) brightness(100%);
}

.work_frame h3 {
	margin: 2rem 0 1rem 0;
	font-size: 1.2rem;
	color: var(--primary-color);
	margin-bottom: 0.4rem;
}

.work_frame p {
	font-size: 1rem;
	color: var(--primary-color);
	margin-bottom: 1rem;
}

.tech_list {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	margin-bottom: 0.4rem;
	padding: 0;
	list-style: none;
}

.tech_list li {
	font-size: 1rem;
	margin: 0 20px 5px 0;
	white-space: nowrap;
}

.work_frame .icons {
	display: flex;
	align-items: center;
}

.work_frame .icons a {
	padding: 0 1rem 0 0;
	cursor: pointer;
}

.work_frame .icons svg {
	width: 25px;
	height: 25px;
	color: var(--primary-color);
}

.work_frame .icons svg:hover,
.work_frame .icons svg:focus {
	color: var(--secondary-color);
}

@media (max-width: 480px) {
	.image {
		display: none;
	}
	.tech_list {
		display: none;
	}
}

@media (max-width: 768px) {
	.work_grid {
		grid-template-columns: 1fr;
	}
}
