:root {
  --primary-color: #002240;
  --secondary-color: #991B1B;
  --dark-color: #111827;
  --light-color: #f4f4f4;
  --alert-color: #DC2626;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}
