.showcase {
  height: 500px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase_grid {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100%;
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase_text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
