.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid4 {
	grid-template-columns: repeat(4, 1fr);
}

.btn {
	display: inline-block;
	padding: 0.8rem 1.4rem;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.btn_outline {
	background-color: transparent;
	border: 1px #fff solid;
}

.btn:hover {
	transform: scale(0.98);
}

/* Backgrounds & colored buttons */
.bg_primary,
.btn_primary {
	background-color: var(--primary-color);
	color: #fff;
}

.bg_secondary,
.btn_secondary {
	background-color: var(--secondary-color);
	color: #fff;
}

.bg_dark,
.btn_dark {
	background-color: var(--dark-color);
	color: #fff;
}

.bg_light,
.btn_light {
	background-color: var(--light-color);
	color: #333;
}

.btn_cta {
	background-color: var(--alert-color);
	color: #fff;
}

.btn_cta:hover {
	background-color: rgba(220, 38, 38, 0.9);
}

/* Text colors */
.text_primary {
	color: var(--primary-color);
}

.text_secondary {
	color: var(--secondary-color);
}

.text_dark {
	color: var(--dark-color);
}

.text_light {
	color: var(--light-color);
}

.text_transparent {
	color: var(--transparent-color);
}

/* Text sizes */
.lead {
	font-size: 1.5rem;
}

.sm {
	font-size: 1.2rem;
}

.md {
	font-size: 2rem;
}

.lg {
	font-size: 3rem;
}

.xl {
	font-size: 4rem;
}

.text_center {
	text-align: center;
}

/* Margin */
.m1 {
	margin: 1rem 0;
}

.m2 {
	margin: 1.5rem;
}

.m3 {
	margin: 2rem;
}

.m4 {
	margin: 3rem;
}

.m5 {
	margin: 4rem;
}

/* Padding */
.py1 {
	padding: 1rem 0;
}

.py2 {
	padding: 1.5rem 0;
}

.py3 {
	padding: 2rem 0;
}

.py4 {
	padding: 3rem 0;
}

.py5 {
	padding: 4rem 0;
}

.p1 {
	padding: 1rem;
}

.p2 {
	padding: 1.5rem;
}

.p3 {
	padding: 2rem;
}

.p4 {
	padding: 3rem;
}

.p5 {
	padding: 4rem;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}
