.navbar {
	background-color: var(--primary-color);
	color: #fff;
	height: 70px;
}

.nav {
  display: flex;
	justify-content: space-between;
}

.nav_links {
	display: flex;
}

.nav_link {
	color: #fff;
	padding: .6rem 1rem;
	margin: 0 0.2rem;
	text-transform: capitalize;
}

.nav_link:hover {
	border-bottom: 2px #fff solid;
}

.logo {
	font-size: 1.3rem;
}

.cta {
	padding: 0.6rem 1.4rem;
}

/* Mobile */
@media (max-width: 658px) {
	.navbar {
		height: 110px;
	}

	.nav {
		flex-direction: column;
	}

	.navbar ul {
		padding: 1rem;
		background-color: rgba(0, 0, 0, 0.1);
	}

	.logo {
		padding: 0.8rem;
	}

	.cta {
		display: none;
	}
}
