.showcase {
	height: calc(100vh - 160px);
	background-color: var(--primary-color);
	color: #fff;
	position: relative;
}

.showcase p {
	padding-top: 1rem;
}

.showcase a {
	margin-top: 2rem;
}

.showcase_grid {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: visible;
	grid-template-columns: 55% auto;
	gap: 30px;
}

.showcase::before,
.showcase::after {
	content: '';
	position: absolute;
	height: 80px;
	bottom: -50px;
	right: 0;
	left: 0;
	background: var(--light-color);
	transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-3deg);
}

@media (max-width: 768px) {
  .showcase {
    height: 500px;
  }
	.showcase_grid {
		grid-template-columns: 75% auto;
	}
}
